{%load static%}
<html>

    <br>
    <head>
        <title>Олимпиады</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/olimp.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <script src='http://use.awesome.com/13327cdab7.js'></script>
        
    </head>
    <body>
        <h1><a href='/'>Список олимпиад</h1></a>
        
        <a class="btn btn-default" href={% url 'olimp_new' %} aria-label="Настройки" title='тебе мало что ли?'>
        <i class="fa fa-cog" aria-hidden="true">Добавить</i></a>
        
        <a class="btn btn-default" href={% url 'user_new' %} aria-label="Настройки" title='Добавить бездельника'>
        <i class="fa fa-cog" aria-hidden="true">Добавить Юзера</i></a>
        
        <a class="btn btn-default" href={% url 'user_lists' %} aria-label="Настройки" title='Бездельники'>
        <i class="fa fa-cog" aria-hidden="true">Олимпиады с юзерами</i></a><br>
        
        
        <br>


        {%block content%}
        {%endblock%}

<!--         <select name="user_profile_color_1">-->
<!--            <option value="1">Синий</option>-->
<!--            <option value="2">Зеленый</option>-->
<!--            <option value="3">Желтый</option>-->
<!--            <option value="4">Красный</option>-->
<!--            <option value="5">Оранжевый</option>-->
<!--            <option value="6">Черный</option>  -->


</select>
    </body>
</html>
