{%extends 'feed/base.html'%}
     {%block content%}
    <!--
    {%for olimp in s%}
        <hr>
        Name: {{olimp.Title}}<br>
        Description: {{olimp.Description}}
        <hr>
    {%endfor%}
    -->
    <div class='negr'>
        <div class='Admen'>
            <p>Имя:<a href='https://github.com/Hekto61' style="color: #B22222" target="_blank"> {{name}}</a><br>
            Роль: {{role}}<br><p>
        </div>
    </div>
    <br>
    <div>
        {%for row in s%}
        <div class='col-xs-12 col-sm-12 col-md-6 col-lg-4'>
            <div class='olimp'>
                <i class="fa fa-shield"><a href='{%url 'olimp_detail' pk=row.pk%}' alink="#B22222"> Название: {{row.Title}}</a></i><br>
                <i class="fa-solid fa-download">Время: {{row.Date_Start}} - <br> {{row.Date_End}}</i><br>
                
            </div>
        <br>
        </div>
        {%endfor%}
    </div>
    
    
    
    
        <!--
        Таблица:<br>
        
        
        {%for row in table%}
            {%for x in row%}
                <font size="5" color={{colors}} face="serif">{{x}}</font>
        
            {%endfor%}
            <br>
        {%endfor%}
        <br>
        
        Брух:<br>
        {%for row in bruh%}
            {%for x in row%}
                <font size="5" color={{colors}} face="serif">{{x}}</font>
        
            {%endfor%}
            <br>
        {%endfor%}        
        
        -->
    {%endblock%}

